@import 'reset';
@import 'variables';

html, body {
  margin: 0;
  height: 100vh;
}

#root, #root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  font-family: Helvetica, sans-serif;  
}

main {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  padding: $space-large;
  justify-content: flex-start;
  align-content: flex-start;
}

section::-webkit-scrollbar {
  width: 6.5px;
  background-color: $primary-color;
}

section::-webkit-scrollbar-thumb {
  background-color: $primary-color-dark;
}

section::-webkit-scrollbar-button {
  height: 0;
}

button {
  border-radius: $radius;
  padding: $space-small;
  margin: $space-small;
  box-shadow: $box-shadow-cards;
  cursor: pointer;
  background: $secondary-color;
  color: $on-secondary-color;  
}

button, a {
  transition: all 300ms ease;
}

input[type='text'] {
  box-shadow: $box-shadow;
  border-radius: $radius;
  border-style: none;
  padding: $space-small;
  margin-right: $space-small;
  margin-left: $space-small;
}

i {
  color: $secondary-color-light;
}

// at the bottom
@import 'base.responsive';
@import 'common-classes';
@import 'portal-rules';