@import 'reset';
@import 'variables';

html, body {
  margin: 0;
  height: 100vh;
}

#root, #root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

main {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  padding: $space-large;
  justify-content: flex-start;
  align-content: flex-start;
}

section::-webkit-scrollbar {
  width: 6.5px;
  background-color: gray;
}

section::-webkit-scrollbar-thumb {
  background-color: black;
}

section::-webkit-scrollbar-button {
  height: 0;
}

button {
  cursor: pointer;
}

// at the bottom
@import 'common-classes';