.section-list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.aside-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}

.control-buttons {
  padding: $space;
  border-radius: 40%;
  background: $primary-color-light;
  color: $secondary-color;
  box-shadow: $box-shadow;
  width: 80px;
  height: 80px;
}

.long-text-handle {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

#delete-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-card {
  padding: $space $space-small;
  margin: $space 0;
  font-size: 1.1rem;
  box-shadow: $box-shadow-cards;

  b {
    color: $on-primary-color; 
  }
}

.dialogue-card {
  padding: $space-large;
  box-shadow: $box-shadow;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 180px;
}

.btn-in-corner {
  width: $space-large;
  height: $space-large;
  margin-bottom: $space-large;
}

.dialogue-main {
  margin: $space-large;
  text-align: center;
}

.dialogue-delete-custom {
  padding: $space-large;
  justify-content: space-evenly;
  align-items: center;
}

.single-message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.notification {
  border-radius: $radius;
  padding: $space;
  box-shadow: $box-shadow-cards;
}

.warning-colors {
  background: $error-color;
  color: $on-secondary-color;
}