@import 'variables';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.h1 {
  margin-bottom: $space-large;    
}

.controls {
  display: flex;
  flex-direction: row-reverse;  
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-top: $space-large;  
  padding: $space;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.comments-section::-webkit-scrollbar {
  width: $space;
  background-color: $primary-color;
}

.comments-section::-webkit-scrollbar-thumb {
  background-color: $primary-color-dark;
}

.comments-section::-webkit-scrollbar-button {
  height: 0;
}

.comment {
  width: 50%;
  margin-bottom: $space;
  padding: $space-small;
  border-radius: $radius;
  box-shadow: $box-shadow-cards;
}

@import 'Book.responsive';