@import 'variables';

.footer {
  text-align: center;
  padding: $space 0;
  margin-top: $space;
  opacity: .9;
  background-color: $secondary-color-dark; 
  color: $on-secondary-color;
  box-shadow: $box-shadow;   
  
  address {
    font-style: normal;
    margin-left: $space-large;    
    float: left;
    font-weight: 600;
    color: $secondary-color-light; 
  }
}

.social-media {
  display: inherit;
  margin-right: $space;

  li {
    margin: 0 $space-small;
    display: inline;
  }
}

@import 'Footer.responsive';