@media (max-width: 500px) {
  .footer {
    padding-top: $space-large;
    padding-bottom: $space-large;

    address {
      float: none;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: $space;
    }
  }
}