@import 'variables';

.footer {
  text-align: center;
  padding: $space 0;
  opacity: .2;
  background-color: $primary-color; 
  box-shadow: $box-shadow-footer;  
  
  address {
    font-style: normal;
    margin-left: $space-large;    
    float: left;
    font-weight: 600;
    color: $primary-color-dark; 
  }
}

.social-media {
  display: inherit;
  margin-right: $space;

  li {
    margin: 0 $space-small;
    display: inline;
  }
}