@import 'variables';

.header {
  background: $primary-color-light;
  color: $on-primary-color;
  opacity: .8;
  padding: $space-large 0 $space-large $space;
  font-size: $h1-size;
  box-shadow: $box-shadow;  
}

a:hover {
  color: $secondary-color-light;
}